/* Globala inställningar */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* Header */
header {
  display: flex;
  width: 100%;

  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  position: fixed;
}

.logo img {
  max-height: 50px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  padding: 0 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #4c4c4c;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  border-bottom: 2px solid #2e86de;
}

nav .dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

nav .dropdown-content a {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  display: block;
}

nav .dropdown-content a:hover {
  background-color: #f7f7f7;
}

/* Hero */
.hero {
  height: 400px;
  /* background-image: url("https://en.louisvuitton.com/images/is/image/PUSH3_IconicHandbags_NewWave_DI3.jpg?wid=2048"); */
  /* background-size: cover; */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.hero h1 {
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px #000000;
}
